Checks: >
  bugprone-*,
  cert-*,
  performance-*,
  portability-*,
  readability-*,
  modernize-*,
  -bugprone-easily-swappable-parameters,
  -cert-err58-cpp,
  -modernize-avoid-c-arrays,
  -modernize-use-designated-initializers,
  -modernize-use-trailing-return-type,
  -portability-avoid-pragma-once,
  -readability-function-cognitive-complexity,
  -readability-identifier-length,
  -readability-magic-numbers
HeaderFilterRegex: 'clients/cpp/(include|test)/(?!boost/).*'
WarningsAsErrors: '*'
