.idea
out
target
build
.gradle
bin
bindings/natives
.ruff_cache
.cache
__pycache__
.pytest_cache

bindings/dist/**/*.so
bindings/dist/**/*.dll
bindings/dist/**/*.dylib
bindings/dist/**/.boltffi-*.lock
bindings/dist/python/build/
