.idea
out
target
build
.gradle
bin
clients/java/natives
.ruff_cache
__pycache__
.pytest_cache

bindings/dist/**/*.so
bindings/dist/**/*.dll
bindings/dist/**/*.dylib
bindings/dist/**/.boltffi-*
bindings/dist/python/build/
